.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
